
.idea/libraries-with-intellij-classes.xml
*.log
.gradle/6.7/executionHistory/executionHistory.bin
.gradle/6.7/executionHistory/executionHistory.lock
.gradle/6.7/fileHashes/fileHashes.bin
.gradle/6.7/fileHashes/fileHashes.lock
.gradle/6.7/fileHashes/resourceHashesCache.bin
.gradle/6.7/javaCompile/javaCompile.lock
.gradle/6.7/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
build/distributions/quiz-game-1.0-SNAPSHOT.tar
build/distributions/quiz-game-1.0-SNAPSHOT.zip
build/libs/quiz-game-1.0-SNAPSHOT.jar
build/resources/main/META-INF/jandex.idx
build/resources/main/META-INF/microprofile-config.properties
build/scripts/quiz-game
build/tmp/compileJava/source-classes-mapping.txt
.gradle/6.7/executionHistory/executionHistory.bin
.gradle/6.7/executionHistory/executionHistory.lock
.gradle/6.7/fileHashes/fileHashes.bin
.gradle/6.7/fileHashes/fileHashes.lock
.gradle/6.7/fileHashes/resourceHashesCache.bin
.gradle/6.7/javaCompile/javaCompile.lock
.gradle/6.7/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
build/distributions/quiz-game-1.0-SNAPSHOT.tar
build/distributions/quiz-game-1.0-SNAPSHOT.zip
build/libs/quiz-game-1.0-SNAPSHOT.jar
build/resources/main/META-INF/jandex.idx
build/resources/main/META-INF/microprofile-config.properties
build/scripts/quiz-game
build/tmp/compileJava/source-classes-mapping.txt
